{# # News index template # ------------------- # # This template is loaded whenever http://example.com/news is # requested,
because it is located at news/index.html in your # craft/templates/ folder. # # See this page for more details on how Craft
routes requests: # http://craftcms.com/docs/routing #} {% extends "_layout" %} {% set title = "News" %} {% block content
%}
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>News</h1>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="blog-posts">
		{% paginate craft.entries.section('news').limit(2) as pageInfo, pageEntries %} {% for entry in pageEntries %}
		<article class="post post-large">
			test
			<div class="post-date">
				<span class="day">{{ entry.postDate.format('d') }}</span>
				<span class="month">{{ entry.postDate.format('M') }}</span>
			</div>
			<div class="post-content">
				<h2><a href="{{entry.url}}">{{ entry.title }}</a></h2>
				<p>
					{{ entry.shortDescription }}
				</p>
				<div class="post-meta">
					<span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span>
					<a href="{{entry.url}}" class="btn btn-xs btn-primary pull-right">Read more...</a>
				</div>
			</div>
		</article>
		{% endfor %} 
	</div>
	{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a>{% endif %} {% if pageInfo.nextUrl
	%}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %}
</div>
{% endblock %}